# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual Environments
venv/
env/
ENV/
.env

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.pytest_cache/
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Project specific - Large Files & Datasets
runs/
dataset_final/
result/
archive*/
training/
manual_annotate_dataset/
dataset/
augmented_dataset_new/
eval_results_Eval/
eval_results_resume_best/
eval_results_fixed/
eval_results_fixed_v2/
documentation/
training.zip

# Models
*.pt
*.onnx
*.tflite

# Logs & Databases
optuna.log
optuna_chess.db
optuna_manual_annotate.db
*.log
